*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px; 
}

.mainBody{
    background-color: black;
}

.grid-container{
    display: grid;
    color: white;
    /* border: 2px solid red; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 100vh ;
    
}

.grid-item{
    background-color: black;
}
.grid-item-1{
    color: white;
    background-color: #211d1dd4;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
}

.NameHeading{
    position: relative;
    margin-top: 50px;
    color: rgb(210, 183, 30);
    
}
.name{
    display: inline-block;
    margin-left: 12px;
    border-bottom:3px solid;
    width: auto;
}
.NavLinks ul{
    list-style-type: none;
}
.NavLinks{
    /* border: 2px solid green; */
    margin-top: 40%;
}

.NavLinks li{
    cursor: pointer;
    border-bottom: 2px solid darkgrey;
    margin: 17px 2px;
    padding: 5px;
}
.NavLinks li:hover{
    color: darkslategray;
    border-bottom: 2px solid darkslategray;
}

.Mycontainer{
    top: 20%;
}
.home{
    border: 2px solid white;
}