*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px; 
}

.mainBody{
    background-color: black;
}

.grid-container{
    display: grid;
    color: white;
    /* border: 2px solid red; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 100vh ;
    
}

.grid-item{
    background-color: black;
}
.grid-item-1{
    color: white;
    background-color: #211d1dd4;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
}

.NameHeading{
    position: relative;
    margin-top: 50px;
    color: rgb(210, 183, 30);
    
}
.name{
    display: inline-block;
    margin-left: 12px;
    border-bottom:3px solid;
    width: auto;
}
.NavLinks ul{
    list-style-type: none;
}
.NavLinks{
    /* border: 2px solid green; */
    margin-top: 40%;
}

.NavLinks li{
    cursor: pointer;
    border-bottom: 2px solid darkgrey;
    margin: 17px 2px;
    padding: 5px;
}
.NavLinks li:hover{
    color: darkslategray;
    border-bottom: 2px solid darkslategray;
}

.Hide{
    display: none;
}

.Show{
    display: block;
}

/* *****ABOUT**************************** */
.aboutContent{
    margin-left: 20px;
}

.aboutHeading{
    margin-top: 35px;
}
.aboutDescription{
    margin-top: 40px;
}

.aboutDescription h3{
    margin: 0px;
    padding: 0px;
}

.aboutDescription p{
    margin-top: 10px;
}

.about_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* border: 2px solid; */
    /* grid-column-gap: 5px; */
}

.about_grid_item{
    /* border: 2px solid red; */
    padding: 5px;
}

.about_grid_item ul{
    list-style-type: none;
}
.about_grid_item li{
    padding: 5px;
}

.progress{
    margin: 5px;
}

.progress_bar span{
    margin: 1px 5px;
}

/* ***********PROJECT*********************** */

.projectBox{
    margin: 9px;
    padding: 20px;
}
.p1{
    border: 2px solid #d2b71e;
    margin-top: 19px;
    padding: 12px;
    border-radius: 5px;
}
hr{
    border-top:1px solid rgb(140 127 127 / 68%) !important;
}
